body, a, figure {
    font-family: 'Lora', serif;
    margin: 0;
    text-decoration: none;
}

header {
    height: 120px;
    background: rgb(25, 117, 209) url('../img/pattern.png') scroll;
    color: white;
    padding-left: 10px;
}

main, footer {margin: 0 10px;}


/*Formattazione e posizionamento "The Booleaner" Header section*/
.block {
    display: inline-block;
    line-height: 10px;
}

.spaced {padding: 60px 0 0 20px;}
.big {font-size: 35px;}


/*Formattazione Main Section*/
address {
    font-style: normal;
    color: grey;
}

.little {font-size: 12px;}

.highlighted {background-color: gold;}

ul {
    padding-left: 10px;
    margin-left: 10px;
}


/*Formattazione della tabella*/
th {
    text-align: left;
    color: white;
}
.td-25 {width: 25%;}
.td-50 {width: 50%;}

.blue-row {background-color: rgb(0, 116, 194);}
.lightblue-row {background-color: rgb(99, 189, 248);}


/*Formattazione Footer Section*/
h3 {color: grey;}

.tip {
    height: 150px;
    width: 200px;
    color: white;
    padding: 15px 15px;
    margin-bottom: 15px;
}

.first-bg {
    background: url('../img/monitor.jpg') no-repeat center;
    background-size: cover;
}
.second-bg {
    background: url('../img/graph.jpg') no-repeat center;
    background-size: cover;
}